@page
@model YoutubeCommentAnalysis.Pages.IndexModel
@{
    ViewData["Title"] = "YouTube Yorum Analiz - Giriş";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header>
        <h1 class="text-center mt-4">Welcome! Dive Deeper into Your YouTube Videos</h1>
    </header>
    <main class="container mt-5">
        <section id="welcome" class="text-center">
            <p>
                Gain valuable insights by deeply analyzing the comments on your YouTube videos.
                With our user-friendly tools, easily discover your audience's interests, thoughts, and comment trends.
            </p>
            <button onclick="window.location.href='@Url.Page("/Login")'" class="btn btn-primary btn-lg mt-3">Get Started by Logging In</button>
        </section>
    </main>
</body>
</html>
